body {
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

select {
    outline: none;
    margin-right: 10px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.cityName {
    font-size: 40px;
}

.current {
    font-size: 50px;
    font-weight: bold;
}

.feels_like {
    margin-bottom: 20px;
}

.description {
    font-size: 35px;
    margin-bottom: 20px;
}

.humidity {
    margin-bottom: 10px;
}

.wind {
    margin-bottom: 10px;
}


.user {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 20px;
    right: 20px;
}

.settings {
    display: flex;
    margin-bottom: 30px;
}

#city {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.error {
    color: red;
}